<h3 class="block lg:hidden text-2xl text-slate-200 font-bold mb-8">About</h3>
<p class="text-slate-400">
  I am a full-stack engineer with a passion for building scalable and efficient software.
  My favourite work involves solving complex problems, namely in the back-end, but I'm no stranger to modern front-end
  frameworks either.
</p>
<br>
<p class="text-slate-400">
  Currently, I'm working at <a class="font-bold text-slate-200 hover:text-teal-300" href="https://mhrglobal.com/uk/en" target="_blank">MHR</a> as an Apprentice Full-Stack
  Engineer, specialising in API development with Java and Jakarta EE, and building crisp, clean user interfaces with Angular and Typescript.
</p>
<p class="text-slate-400">
  Notably, I have worked on a large-scale migration project moving from the now-deprecated <em>UI Router</em> to <em>Angular Router</em>,
  and I currently work on the <em>Custom Cards</em> feature team, building reusable, bespoke components for users of the <a class="font-bold text-slate-200 hover:text-teal-300" href="https://mhrglobal.com/uk/en/products/people-first">PeopleFirst</a> app.
</p>
<br>
<p class="text-slate-400">
  I previously graduated from <a class="font-bold text-slate-200 hover:text-teal-300" href="https://www.northcoders.com/" target="_blank">Northcoders</a>'s software development bootcamp, where I learned the fundamentals of full-stack development, and quickly sunk my teeth into freelance work.
</p>
<br>
<p class="text-slate-400">
  In my free time, I enjoy DJ-ing, lifting weights, and working on coding projects. I am prone to being chronically online, and trying to practice digital minimalism where possible - I think this is conducive to building more elegant and useful software.
</p>
